<link rel="stylesheet" href="/css/dashboard-index.css"/>
<link rel="stylesheet" href="/css/new-interview-popup.css" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v3.0.6/css/line.css"
/>

<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text logo-text">Mak Interviewer</span>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="angle-double-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
        ></svg>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link view-modal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="62"
          height="59"
          viewBox="0 0 62 59"
          fill="none"
        >
          <path
            d="M31.2019 23.3935C37.7724 23.3935 43.1178 18.2619 43.1178 11.9542C43.1178 5.64645 37.7724 0.514648 31.2019 0.514648C24.6313 0.514648 19.2859 5.64645 19.2859 11.9542C19.2859 18.2619 24.6313 23.3935 31.2019 23.3935ZM25.4377 10.7318C26.1412 10.0569 27.281 10.0569 27.9844 10.7318L29.7049 12.3837L34.4193 7.85766C35.1228 7.18276 36.2626 7.18276 36.966 7.85766C37.6692 8.53277 37.6692 9.62735 36.966 10.3024L30.9783 16.0507C30.6266 16.388 30.1659 16.557 29.7049 16.557C29.244 16.557 28.7832 16.3882 28.4316 16.0507L25.4377 13.1766C24.7345 12.5015 24.7345 11.4067 25.4377 10.7318Z"
            fill="#BD03FF"
          />
          <path
            d="M7.74677 17.2252C11.6115 17.2252 14.7557 14.2067 14.7557 10.4966C14.7557 6.78653 11.6115 3.76807 7.74677 3.76807C3.88207 3.76807 0.738037 6.78653 0.738037 10.4966C0.738037 14.2067 3.88207 17.2252 7.74677 17.2252Z"
            fill="#BD03FF"
          />
          <path
            d="M1.42883 26.8583V40.832C1.42883 44.0415 4.13899 46.6432 7.48221 46.6432H15.3714V56.9641C15.3714 57.7503 16.0353 58.3878 16.8544 58.3878H23.8451C24.664 58.3878 25.3281 57.7505 25.3281 56.9641V42.0766C25.3281 39.3673 23.0403 37.1713 20.2184 37.1713H14.0651V26.8583C14.0651 23.5085 11.2363 20.793 7.74705 20.793C4.25756 20.7928 1.42883 23.5083 1.42883 26.8583Z"
            fill="#BD03FF"
          />
          <path
            d="M54.6574 17.2252C58.5221 17.2252 61.6661 14.2067 61.6661 10.4966C61.6661 6.78653 58.5221 3.76807 54.6574 3.76807C50.7927 3.76807 47.6484 6.78653 47.6484 10.4966C47.6484 14.2067 50.7927 17.2252 54.6574 17.2252Z"
            fill="#BD03FF"
          />
          <path
            d="M48.3386 26.8583V37.1713H42.1855C39.3633 37.1713 37.0756 39.3675 37.0756 42.0766V56.9641C37.0756 57.7503 37.7394 58.3878 38.5585 58.3878H45.5492C46.3682 58.3878 47.0322 57.7505 47.0322 56.9641V46.6432H54.9214C58.2646 46.6432 60.9748 44.0415 60.9748 40.832V26.8583C60.9748 23.5085 58.1461 20.793 54.6568 20.793C51.1673 20.7928 48.3386 23.5083 48.3386 26.8583Z"
            fill="#BD03FF"
          />
          <path
            d="M41.6878 30.4102C42.6824 30.4102 43.4884 29.6362 43.4884 28.6816C43.4884 27.7269 42.6822 26.9531 41.6878 26.9531H20.7156C19.721 26.9531 18.915 27.7271 18.915 28.6816C18.915 29.6364 19.7213 30.4102 20.7156 30.4102H29.401V57.2715C29.401 58.2262 30.2072 59 31.2015 59C32.1958 59 33.0021 58.226 33.0021 57.2715V30.4102H41.6878Z"
            fill="#BD03FF"
          />
        </svg>
        <span class="link-text">New Meet</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="62"
          height="59"
          viewBox="0 0 45 62"
          fill="none"
        >
          <g clip-path="url(#clip0)">
            <path
              d="M43.3499 12.7148L32.0927 0.847656C31.5753 0.302734 30.8739 0 30.138 0H29.4365V15.5H44.1548V14.7613C44.1548 13.9984 43.8674 13.2598 43.3499 12.7148ZM14.7643 40.6875C12.706 40.6875 11.0387 42.1527 11.0387 43.957C11.0387 45.7734 12.7175 47.2266 14.7758 47.2266C16.834 47.2266 18.5013 45.7613 18.5013 43.957C18.5013 42.1527 16.8225 40.6875 14.7643 40.6875ZM25.757 16.4688V0H18.4438V3.875H14.7643V0H2.75968C1.23036 0 0 1.2957 0 2.90625V59.0938C0 60.7043 1.23036 62 2.75968 62H41.3951C42.9245 62 44.1548 60.7043 44.1548 59.0938V19.375H28.5167C26.9988 19.375 25.757 18.0672 25.757 16.4688ZM11.0272 3.875H14.7068V7.75H11.0272V3.875ZM14.7413 50.375C10.9237 50.375 8.07205 46.6938 8.83096 42.7582L11.0847 31V27.125H14.7643V23.25H11.0847V19.375H14.7643V15.5H11.0847V11.625H14.7643V7.75H18.4438V11.625H14.7643V15.5H18.4438V19.375H14.7643V23.25H18.4438V27.125H14.7643V31H17.3055C17.9609 31 18.5358 31.4965 18.6623 32.1746L20.6516 42.7945C21.3875 46.718 18.5358 50.375 14.7413 50.375Z"
              fill="#BD03FF"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="44.1548" height="62" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span class="link-text">Templates</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="62"
          height="59"
          viewBox="0 0 53 64"
          fill="none"
        >
          <g clip-path="url(#clip0)">
            <path
              d="M0 58C0 61.3125 2.54012 64 5.67097 64H47.2581C50.3889 64 52.9291 61.3125 52.9291 58V24H0V58ZM37.8065 33.5C37.8065 32.675 38.4445 32 39.2242 32H43.95C44.7298 32 45.3678 32.675 45.3678 33.5V38.5C45.3678 39.325 44.7298 40 43.95 40H39.2242C38.4445 40 37.8065 39.325 37.8065 38.5V33.5ZM37.8065 49.5C37.8065 48.675 38.4445 48 39.2242 48H43.95C44.7298 48 45.3678 48.675 45.3678 49.5V54.5C45.3678 55.325 44.7298 56 43.95 56H39.2242C38.4445 56 37.8065 55.325 37.8065 54.5V49.5ZM22.6839 33.5C22.6839 32.675 23.3219 32 24.1016 32H28.8274C29.6072 32 30.2452 32.675 30.2452 33.5V38.5C30.2452 39.325 29.6072 40 28.8274 40H24.1016C23.3219 40 22.6839 39.325 22.6839 38.5V33.5ZM22.6839 49.5C22.6839 48.675 23.3219 48 24.1016 48H28.8274C29.6072 48 30.2452 48.675 30.2452 49.5V54.5C30.2452 55.325 29.6072 56 28.8274 56H24.1016C23.3219 56 22.6839 55.325 22.6839 54.5V49.5ZM7.56129 33.5C7.56129 32.675 8.19928 32 8.97904 32H13.7048C14.4846 32 15.1226 32.675 15.1226 33.5V38.5C15.1226 39.325 14.4846 40 13.7048 40H8.97904C8.19928 40 7.56129 39.325 7.56129 38.5V33.5ZM7.56129 49.5C7.56129 48.675 8.19928 48 8.97904 48H13.7048C14.4846 48 15.1226 48.675 15.1226 49.5V54.5C15.1226 55.325 14.4846 56 13.7048 56H8.97904C8.19928 56 7.56129 55.325 7.56129 54.5V49.5ZM47.2581 8H41.5871V2C41.5871 0.9 40.7365 0 39.6968 0H35.9161C34.8765 0 34.0258 0.9 34.0258 2V8H18.9032V2C18.9032 0.9 18.0526 0 17.0129 0H13.2323C12.1926 0 11.3419 0.9 11.3419 2V8H5.67097C2.54012 8 0 10.6875 0 14V20H52.9291V14C52.9291 10.6875 50.3889 8 47.2581 8Z"
              fill="#BD03FF"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="52.9291" height="64" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span class="link-text">Calendar</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 73 62"
          fill="none"
        >
          <g clip-path="url(#clip0)">
            <path
              d="M3.64801 27.125H7.29601V50.375H3.64801C3.16878 50.3756 2.69415 50.2758 2.25129 50.0813C1.80844 49.8868 1.40606 49.6013 1.0672 49.2414C0.728332 48.8815 0.459644 48.454 0.276519 47.9836C0.0933932 47.5132 -0.00057258 47.009 2.62489e-06 46.5V31C-0.00057258 30.491 0.0933932 29.9868 0.276519 29.5164C0.459644 29.046 0.728332 28.6185 1.0672 28.2586C1.40606 27.8986 1.80844 27.6132 2.25129 27.4187C2.69415 27.2242 3.16878 27.1244 3.64801 27.125ZM62.016 21.3125V54.25C62.0141 56.3048 61.2448 58.2749 59.877 59.7278C58.5091 61.1808 56.6545 61.998 54.72 62H18.24C16.3056 61.998 14.4509 61.1808 13.0831 59.7278C11.7152 58.2749 10.9459 56.3048 10.944 54.25V21.3125C10.9436 20.0402 11.1793 18.7803 11.6374 17.6048C12.0956 16.4292 12.7674 15.3611 13.6143 14.4615C14.4613 13.5618 15.4668 12.8483 16.5735 12.3616C17.6801 11.8749 18.8663 11.6246 20.064 11.625H32.832V3.875C32.832 2.84729 33.2164 1.86166 33.9005 1.13496C34.5846 0.408258 35.5125 0 36.48 0C37.4475 0 38.3754 0.408258 39.0596 1.13496C39.7437 1.86166 40.128 2.84729 40.128 3.875V11.625H52.896C54.0938 11.6246 55.2799 11.8749 56.3866 12.3616C57.4932 12.8483 58.4988 13.5618 59.3457 14.4615C60.1927 15.3611 60.8644 16.4292 61.3226 17.6048C61.7808 18.7803 62.0164 20.0402 62.016 21.3125ZM30.096 31C30.096 30.042 29.8286 29.1055 29.3275 28.309C28.8265 27.5124 28.1143 26.8916 27.2811 26.525C26.4478 26.1583 25.531 26.0624 24.6464 26.2493C23.7619 26.4362 22.9493 26.8975 22.3116 27.575C21.6739 28.2524 21.2396 29.1154 21.0636 30.055C20.8877 30.9946 20.978 31.9685 21.3231 32.8536C21.6683 33.7387 22.2527 34.4952 23.0026 35.0274C23.7525 35.5597 24.6341 35.8438 25.536 35.8438C26.1349 35.8438 26.7278 35.7185 27.2811 35.4751C27.8344 35.2317 28.3371 34.875 28.7605 34.4252C29.184 33.9754 29.5199 33.4414 29.749 32.8537C29.9782 32.266 30.0961 31.6361 30.096 31ZM29.184 46.5H21.888V50.375H29.184V46.5ZM40.128 46.5H32.832V50.375H40.128V46.5ZM51.984 31C51.984 30.042 51.7166 29.1055 51.2155 28.309C50.7145 27.5124 50.0023 26.8916 49.1691 26.525C48.3358 26.1583 47.419 26.0624 46.5344 26.2493C45.6499 26.4362 44.8374 26.8975 44.1996 27.575C43.5619 28.2524 43.1276 29.1154 42.9517 30.055C42.7757 30.9946 42.866 31.9685 43.2111 32.8536C43.5563 33.7387 44.1407 34.4952 44.8906 35.0274C45.6405 35.5597 46.5222 35.8438 47.424 35.8438C48.0229 35.8438 48.6159 35.7185 49.1691 35.4751C49.7224 35.2317 50.2251 34.875 50.6485 34.4252C51.072 33.9754 51.4079 33.4414 51.637 32.8537C51.8662 32.266 51.9841 31.6361 51.984 31ZM51.072 46.5H43.776V50.375H51.072V46.5ZM72.9601 31V46.5C72.9606 47.009 72.8667 47.5132 72.6835 47.9836C72.5004 48.454 72.2317 48.8815 71.8929 49.2414C71.554 49.6013 71.1516 49.8868 70.7088 50.0813C70.2659 50.2758 69.7913 50.3756 69.312 50.375H65.664V27.125H69.312C69.7913 27.1244 70.2659 27.2242 70.7088 27.4187C71.1516 27.6132 71.554 27.8986 71.8929 28.2586C72.2317 28.6185 72.5004 29.046 72.6835 29.5164C72.8667 29.9868 72.9606 30.491 72.9601 31Z"
              fill="#BD03FF"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="72.9601" height="62" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span class="link-text">Support</span>
      </a>
    </li>

    <li class="nav-item" id="themeButton">
      <a href="#" class="nav-link">
        <svg
          class="theme-icon"
          id="lightIcon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="moon-stars"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x"
        ></svg>
        <svg
          class="theme-icon"
          id="solarIcon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="sun"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="svg-inline--fa fa-sun fa-w-16 fa-7x"
        ></svg>
        <svg
          class="theme-icon"
          id="darkIcon"
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="sunglasses"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          class="svg-inline--fa fa-sunglasses fa-w-18 fa-7x"
        ></svg>
      </a>
    </li>
  </ul>
</nav>
<div class="popup">
  <header>
    <span>New Meet</span>
    <div class="close"><i class="uil uil-times"></i></div>
  </header>
  <p></p>
  <div class="content">
    <a href="/meet/start-instant-meet">
      <button
        style="
          background-color: purple;
          color: white;
          border-radius: 5px;
          size: 10px;
          padding: 2%;
        "
      >
        Start Instant Meet
      </button></a
    >
    <button
      style="
        background-color: purple;
        color: white;
        border-radius: 5px;
        size: 10px;
        padding: 2%;
      "
    >
      Schedule for Later
    </button>

    <br /><br />
    <p>Or Copy link</p>
    <div class="field">
      <i class="url-icon uil uil-link"></i>
      <input type="text" readonly value="example.com/share-link" />
      <button>Copy</button>
    </div>
  </div>
</div>


<script>
  const viewBtn = document.querySelector(".view-modal"),
    popup = document.querySelector(".popup"),
    close = popup.querySelector(".close"),
    field = popup.querySelector(".field"),
    input = field.querySelector("input"),
    copy = field.querySelector("button");
  viewBtn.onclick = () => {
    popup.classList.toggle("show");
  };
  close.onclick = () => {
    viewBtn.click();
  };
  copy.onclick = () => {
    input.select(); //select input value
    if (document.execCommand("copy")) {
      //if the selected text copy
      field.classList.add("active");
      copy.innerText = "Copied";
      setTimeout(() => {
        window.getSelection().removeAllRanges(); //remove selection from document
        field.classList.remove("active");
        copy.innerText = "Copy";
      }, 3000);
    }
  };
</script>
<main>
  <h1 style="color: white">Meet info</h1>
  <div style="color: white" class="user-profile"><%= locals.user.name%></div>
                <a style="color:white;" href="/users/sign-out"><button style="padding: 1%; border-radius: 10%; background-color: blueviolet;">Sign Out</button></a>


</main>
<script src="/js/lib/ace/ace.js"></script>
<script src="/js/lib/ace/theme-monokai.js"></script>
<script src="/js/editor/editor.js"></script>
<script src="/js/lib/ace-collab-ext/dist/umd/ace-collab-ext.js"></script>
