<h1>
    Click here to reset password
</h1>
<a id="forgot-password" href="http://localhost:8000/users/reset-password/<%= token.token%>">
    <button type="button" class="btn btn-secondary btn-lg" style="margin: auto; display: flex; justify-content: center; display: grid;">Click here to reset password</button></a>