
  <link rel="stylesheet" type="text/css" href="/css/sign_in.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  
  <% if(typeof reset !='undefined' && reset == false && typeof message!= 'undefined'){ %>
    <div class="form">
        <form class="form_forgot_password" method="POST" action="/users/forgot-password">
            <h2>Enter your email ID</h2>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="input">
            <div class="inputBox">
            <label name="email">Email</label>
            <input class="form__input" type="text" placeholder="Email" name="email" />
        </div>
        
        <div class="inputBox">
            <input class="form__input button" type="submit" value="Send reset password mail" >
        </div> 
        <% if(message.length > 0){ %>{
           <h5><%= message %></h5> 
        <% } %>
    </div>
    
</form>
</div> 

  <% } else if(reset == true && typeof message == 'undefined') { %>
    <div class="form">
        
        <form class="form_sign-up" method="POST" action="/users/reset-password/<%= email %>">
            <h2>Reset Password</h2>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="inputBox">
            <label for="password">Password</label>
            <input class="form__input" type="password" placeholder="Password" name="password" >
        </div>
        <div class="inputBox">
            <label for="confirm_password">Confirm Password</label>
            <input class="form__input" type="password" name="confirm_password" placeholder="Confirm Password" required >
        </div>
        <div class="inputBox">
            <input class="form__input button" type="submit" value="Reset-Password" >
       
  
</form>
</div>
<% } %>

