    <link rel="stylesheet" href="/css/home.css" />
 
    <div class="landing-page">
      <navbar class="navbar">
        <div class="left">
          <div class="logo"><img src="./images/logo.png" alt="" /></div>
        </div>
        <div class="right">
          <ul class="nav-list menu">
            <li class="nav1"><a href="#">.home()</a></li>
            <li class="nav2"><a href="#">.about()</a></li>
            <li class="nav3"><a href="#">.features()</a></li>
            <li class="nav4"><a href="#">.contact()</a></li>
          </ul>
        </div>
      </navbar>
      <section class="main-landing-page">
        <div class="main-left">
          <div class="main-title">
            <span class="mak">MAK</span>
            <span class="interviewer">Interviewer</span>
          </div>
           <div class="text">
          <p>
            An online code interviewing tool.
            <span>Allows both candidates and interviewers to solve coding problems in real-time with an online code editor and compilers for all popular languages.</span>
          </p>
          <a href="/users/sign-in" class="btn">.Sign in()</a>
        </div>
        </div>
        <div class="main-right">
          <div class="animation">
            <img src="./images/animation.png" alt="" />
          </div>
        </div>
        <div class="social-links">
          <ul class="social-list">
            <li class="gihub">
              <a target="_blank" href="https://github.com/MaheraFurniturewala/MAK-Interviewer"><img src="./images/github.png" alt="" /></a>
            </li>
          </ul>
        </div>
      </section>
    </div>

