


  <link rel="stylesheet" type="text/css" href="/css/sign_in.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="/css/google-btn.css" />



  <div class="main">
    <!-- Sign UP -->
    <div class="container a-container" id="a-container">
      <form class="form" id="a-form" method="POST" action="/users/create">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <h2 class="form_title title">Create Account</h2>
        <input class="form__input" type="text" placeholder="Name" name="name" />
        <input class="form__input" type="text" placeholder="Email" name="email" />
        <input class="form__input" type="password" placeholder="Password" name="password" />
        <input class="form__input" type="password" name="confirm_password" placeholder="Confirm Password" required />
        <input class="form__input button" type="submit" value="Sign Up" />

        <a href="/users/auth/google">
          <div class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon"
                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
          </div>
        </a>
      </form>
    </div>

    <!-- Sign IN -->
    <div class="container b-container" id="b-container">
      <form class="form" id="b-form" method="POST" action="/users/create-session">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <h2 class="form_title title">Sign in to Website</h2>
        <input class="form__input" type="text" placeholder="Email" name="email" />
        <input class="form__input" type="password" placeholder="Password" name="password" />
        <input class="form__input button" type="submit" value="Sign In" />

        <a href="/users/auth/google">
          <div class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon"
                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
          </div>
        </a>
        <a class="form__link">Forgot your password?</a>
      </form>
    </div>

    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>

      <div class="switch__container" id="switch-c1">
        <h2 class="switch__title title">Welcome Back !</h2>
        <p class="switch__description description">
          To keep connected with us please login with your details
        </p>
        <button class="switch__button button switch-btn">SIGN IN</button>
      </div>

      <div class="switch__container is-hidden" id="switch-c2">
        <h2 class="switch__title title">Hello Friend !</h2>
        <p class="switch__description description">
          Enter your details and start journey with us
        </p>
        <button class="switch__button button switch-btn">SIGN UP</button>
      </div>
    </div>
  </div>

  <script src="/js/sign_in.js"></script>
