<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/sign_in.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Email Verification</title>
</head>
<body>
    <div class="container">
    <div class="main" >
        <h1 style="text-align: center; color: whitesmoke;"><b>Almost there....</b></h1>
        <br><br><br>
        <p style="text-align: center; color: whitesmoke;">Please check your email to confirm your account.</p>
        <p style="text-align: center; color: whitesmoke">......................</p>
        <br><br>
        <p style="text-align: center; color: whitesmoke">If you didn't receive a mail from us<br>please check your spam folder or check if you have entered the correct Email ID r not.<br><br>The email might take about 15 Minutes to reach your email.<br><br>Still can't find find it? Try searching Gmail for "in:all subject:(Confirm your account)"</p>
    </div>
    </div>
</body>
</html>