
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size:inherit;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0.1em 0.4em;
    border: none;
    border:1px solid white;
  }
  
  .openbtn:hover {
    background-color: #444;

  }
  
  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
  }
  header span{
    font-size: 21px;
    font-weight: 600;
  }
  header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  header .close{
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
  }
  header .close:hover{
    background: #ebedf9;
  }
  
  .content p{
    font-size: 16px;
  }
  .content .icons a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
  }
  .icons a i{
    transition: transform 0.3s ease-in-out;
  }
  
  .content .field{
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
  }
  .field.active{
    border-color: #7d2ae8;
  }
  .field i{
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  .field.active i{
    color: #7d2ae8;
  }
  .field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  .field button{
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
  }
  .field button:hover{
    background: #8d39fa;
  }
  
  .message
  {
      background-color: #8d39fa;
      padding: 10px;
      color: white;
      width: fit-content;
      border-radius: 10px;
      margin-bottom: 15px;
  }
  
  .user_message
  {
      margin-left: auto;
      background-color: lightgrey;
      color: black
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
