*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    
}

nav{
    display: flex;
    height:7vh;
    background: rgb(0, 0, 0);
}
nav .left{
    display: flex;
    width:50vw;
}
nav .right{
    display: flex;
    width:50vw;
}
nav .left div{
    margin:auto 3em;
    color: #ffff;
}
nav .right div{
    margin:auto 3em;
    color: #ffff;
}
main{
    display: flex;
}
main .editor{
    width: 50vw;
    height:86vh;
    border-right:5px solid black;
}
main .output{
    width:50vw;
    height:86vh;
    background-color:#272822 ;
}
section.control-panel{
    display: flex;
    background: #000;
    color:#fff;
    height: 7vh;
    align-items: center;
}
section.control-panel div{
    margin:2em;
}
section.control-panel .language-selection{
    
}
section.control-panel .button-run-container{
    margin-right:5em;
}
.button-run-container {
    padding: 4px;
}

.btn {
    font-size:inherit;
    height:2.5em;
    border-radius:10px;
    background: #57a958;
    width:5em;
    color: white;
    padding: 8px;
    border: 0;
}
.languages {
    background:#272822;
    color: #fff;
}
.settings{
    border:1px solid white;
   padding:0.2em;
   background: #272822;
}
