    <link rel="stylesheet" href="/css/editor.css">
    <div class="header">IDE</div>
    <div class="control-panel">
        Select Language:
        &nbsp; &nbsp;
        <select class="languages" id="languages" onchange="changeLanguage()">
            <option value="cpp">C++</option>
            <option value="c">C</option>
            <option value="py">Python</option>
            <option value="java">Java</option>
            <option value="rb">Ruby</option>
            <option value="kt">Kotlin</option>
            <option value="swift">Swift</option>
        </select>
    </div> 
    <div class="editor" id="editor"></div>
    <div class="button-container">
        <button class="btn" onclick="executeCode()"> Run </button>
    </div>
    <div class="output"></div>
    <script src="\socket.io\socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/js/lib/ace/ace.js"></script>
    <script src="/js/lib/ace/theme-monokai.js"></script>
    <script src="/js/editor/editor.js"></script>
  